<div class="container">
  <h1>TD Form</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit) = "onSubmit(form)" #form = "ngForm">
        <!-- STRING INTERPOLATION -->
        {{form.value | json}}  <H4>STRING INTERPOLATION</H4>
        <hr>
        <!-- TWO-WAY BINDING -->
        {{userModel | json}}   <H4>TWO-WAY BINDING</H4>  
        <div id="user-data">
          <div class="form-group mt-3">
            <label for="username">Name</label>
            <input type="text" id="username" name="username" class="form-control" [(ngModel)] = "userModel.name">
          </div>
          <button mat-raised-button>Suggest an username</button>
        </div>

        <div class="form-group mt-3">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" class="form-control" [(ngModel)] = "userModel.email">
        </div>

        <div class="form-group">
          <label for="Phone">Phone</label>
          <input type="phone" name="phone" id="phone" class="form-control" [(ngModel)]="userModel.phone">
        </div>

        <!-- Getting data from server -->
        <div class="form-group">
          <label for="topic">I'm intrested in</label>
          <mat-form-field  class="form-control" id="select"name="topic" >
            <mat-label>Choose an option</mat-label>
            <mat-select  [(ngModel)]="userModel.topic" name="topic">
              <mat-option *ngFor="let topic of topics" value="{{topic.course}}">{{topic.course}}</mat-option>         
            </mat-select>
          </mat-form-field>
        </div>

        <button mat-raised-button color="primary">SUBMIT</button>
      </form>
    </div>
  </div>
</div>